In [11]:
#import libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [12]:
loan_approval_df = pd.read_csv("../01_data/loan_approval_dataset.csv")
loan_approval_df.head()

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,1,2,Graduate,No,9600000,29900000,12,778,2400000,17600000,22700000,8000000,Approved
1,2,0,Not Graduate,Yes,4100000,12200000,8,417,2700000,2200000,8800000,3300000,Rejected
2,3,3,Graduate,No,9100000,29700000,20,506,7100000,4500000,33300000,12800000,Rejected
3,4,3,Graduate,No,8200000,30700000,8,467,18200000,3300000,23300000,7900000,Rejected
4,5,5,Not Graduate,Yes,9800000,24200000,20,382,12400000,8200000,29400000,5000000,Rejected

In [13]:
loan_approval_df.shape

(4269, 13)

In [14]:
loan_approval_df.dtypes

loan_id                       int64
 no_of_dependents             int64
 education                   object
 self_employed               object
 income_annum                 int64
 loan_amount                  int64
 loan_term                    int64
 cibil_score                  int64
 residential_assets_value     int64
 commercial_assets_value      int64
 luxury_assets_value          int64
 bank_asset_value             int64
 loan_status                 object
dtype: object

In [15]:
loan_approval_df.nunique()

loan_id                      4269
 no_of_dependents               6
 education                      2
 self_employed                  2
 income_annum                  98
 loan_amount                  378
 loan_term                     10
 cibil_score                  601
 residential_assets_value     278
 commercial_assets_value      188
 luxury_assets_value          379
 bank_asset_value             146
 loan_status                    2
dtype: int64

In [16]:
#cleaning column names
loan_approval_df.columns = loan_approval_df.columns.str.strip()
loan_approval_df.values #to be stripped as well

array([[1, 2, ' Graduate', ..., 22700000, 8000000, ' Approved'],
       [2, 0, ' Not Graduate', ..., 8800000, 3300000, ' Rejected'],
       [3, 3, ' Graduate', ..., 33300000, 12800000, ' Rejected'],
       ...,
       [4267, 2, ' Not Graduate', ..., 18100000, 7300000, ' Rejected'],
       [4268, 1, ' Not Graduate', ..., 14100000, 5800000, ' Approved'],
       [4269, 1, ' Graduate', ..., 35700000, 12000000, ' Approved']],
      dtype=object)

In [17]:
#switching categorical columns into numerical

loan_approval_df['education']=loan_approval_df['education'].replace({' Graduate':1,' Not Graduate':0})
loan_approval_df['self_employed'] = loan_approval_df['self_employed'].replace({' No': 0, ' Yes': 1})

loan_approval_df

/var/folders/84/2vk315td0qq3r5sg29wp35000000gn/T/ipykernel_25739/4064159237.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  loan_approval_df['education']=loan_approval_df['education'].replace({' Graduate':1,' Not Graduate':0})
/var/folders/84/2vk315td0qq3r5sg29wp35000000gn/T/ipykernel_25739/4064159237.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  loan_approval_df['self_employed'] = loan_approval_df['self_employed'].replace({' No': 0, ' Yes': 1})

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,1,2,1,0,9600000,29900000,12,778,2400000,17600000,22700000,8000000,Approved
1,2,0,0,1,4100000,12200000,8,417,2700000,2200000,8800000,3300000,Rejected
2,3,3,1,0,9100000,29700000,20,506,7100000,4500000,33300000,12800000,Rejected
3,4,3,1,0,8200000,30700000,8,467,18200000,3300000,23300000,7900000,Rejected
4,5,5,0,1,9800000,24200000,20,382,12400000,8200000,29400000,5000000,Rejected
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4264,4265,5,1,1,1000000,2300000,12,317,2800000,500000,3300000,800000,Rejected
4265,4266,0,0,1,3300000,11300000,20,559,4200000,2900000,11000000,1900000,Approved
4266,4267,2,0,0,6500000,23900000,18,457,1200000,12400000,18100000,7300000,Rejected
4267,4268,1,0,0,4100000,12800000,8,780,8200000,700000,14100000,5800000,Approved
4268,4269,1,1,0,9200000,29700000,10,607,17800000,11800000,35700000,12000000,Approved